body {
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    /* font-size: 12px; */
}

#main {
    display: flex;
    flex-direction: row;
    background: #edf0f5;
    min-height: 100vh;
    height: auto;
    padding: 50px;
}

form {
    display: block;
}

#logo {
    flex: 50%;
}

form {
    flex: 50%;
    text-align: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    margin: 100px 15vw auto auto;
    padding: 20px 0 28px;
    width: 396px;
}

#email,
#pass {
    font-size: 17px;
    padding: 14px 16px;
    border-radius: 6px;
    width: 330px;
    color: #1d2129;
    height: 22px;
    line-height: 16px;
    vertical-align: middle;
    border: 1px solid #dddfe2;
    margin: 6px auto;
}

#login_btn {
    background-color: #1877f2;
    border: none;
    padding: 0px 16px;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    width: 332px;
    color: #fff;
    font-weight: bold;
    justify-content: center;
    box-sizing: content-box;
    margin: 8px auto;
}

#new_ac_btn {
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    background-color: #42b72a;
    border-color: #42b72a;
    margin: 15px auto 0px auto;
}

#login_btn:hover,
#new_ac_btn:hover {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
}

a {
    font-family: inherit;
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

a:hover {
    color: #385898;
    cursor: pointer;
    text-decoration: none;
}

#picture {
    margin: 150px auto auto 10vw;
}

#picture>img {
    height: 106px;
    margin: auto 28px auto -28px;
}

#picture>h2 {
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    margin: auto 5px;
}

#footer {
    text-align: center;
    padding: 20px;
    color: #737373;
    text-decoration: overline;
    font-style: italic;
}

hr {
    width: 90%;
}

@media (max-width: 800px) { 
    #main {
        flex-direction: column;
        padding: 0px;
        /* margin: auto -10px; */
    }

    #picture {
        margin: 50px auto;
    }

    #picture>img {
        display: block;
        margin: auto;
    }

    #picture>h2 {
        width: auto;
        text-align: center;
    }

    form {
        width: calc(100% - 40px);
        display: block;
        margin: 50px auto;
    }

    #email,
    #pass,
    #login_btn {
        width: calc(100% - 60px);
    }
}